.question {
  width: 100%;
  height: 90%;
  position: absolute;
  transition: 1s;
  /* background-color: red; */
}

.ques {
  margin: 30px 0px;
  margin-top: 0px;
  padding-bottom: 15px;
  border-bottom: 1px dotted rgb(212, 207, 207);
}

.ques p {
  font-size: 23px;
  left: -10px;
  color: rgb(76, 61, 131);
}

.quiz {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .quiz {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
